<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
              <%= render 'layouts/userinfo', book: Book.new, user: current_user %>
            </div>

            <div class="col-xs-9">
              <h4>Users</h4>
              <table class="table table-hover table-inverse">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <thcolspan="3"></thcolspan></th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <td>
                      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
                      <td><%= user.name %></td>
                       <td>
                     <%= link_to "Show", user_path(user.id) %>
                    </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>